h4{
    margin: 0px;
}

#wrapper, #wrapper_nine, #wrapper_hundred{
    display: flex;
    width:100%;
    height:120px;
    border: solid 1px gray;
    align-items: center;
    justify-content: center;
}

#ochiai, #ochiai_nine, #ochiai_hundred{
    width: 23%;
    height: 100px;
    left: 3%;
    top: 0px;
    color: aliceblue;
    text-align: center;
    background-color: aquamarine;
    opacity: 100%;
    border: solid 1px white;
    background-image:url("../img/ochiai.jpg");
    background-size: cover;
    
}

#bass, #bass_nine, #bass_hundred{
    width: 23%;
    height: 100px;
    left: 27%;
    top: 0px;
    color: aliceblue;
    text-align: center;
    background-color: aquamarine;
    opacity: 100%;
    line-height: 20px;    
    border: solid 1px white;    
    background-image:url("../img/bass.jpg");
    background-size: cover;
}

#matsunaka, #matsunaka_nine, #matsunaka_hundred{
    width: 23%;
    height: 100px;
    left: 51%;
    top: 0px;
    color: aliceblue;
    text-align: center;
    background-color: aquamarine;
    opacity: 100%;    
    border: solid 1px white;    
    background-image:url("../img/matsunaka.jpg");
    background-size: cover;
}

#murakami, #murakami_nine, #murakami_hundred{
    width: 23%;
    height: 100px;
    left: 75%;
    top: 0px;
    color: aliceblue;
    text-align: center;
    background-color: aquamarine;
    opacity: 100%;
    border: solid 1px white;    
    background-image:url("../img/murakami.jpg");
    background-size: cover;
}

#ochiai:hover{
    background-color: rgb(31, 8, 123);
    opacity: 70%;
}

#bass:hover{
    background-color: rgb(31, 8, 123);
    opacity: 70%;
}

#matsunaka:hover{
    background-color: rgb(31, 8, 123);
    opacity: 70%;
}

#murakami:hover{
    background-color: rgb(31, 8, 123);
    opacity: 70%;
}

#result,#stop-game,#status,#total,#max,#history{
    text-align: center;
    font-size: large;
}

#wrapper_add, #wrapper_delete, #wrapper_inherit{
    display: flex;
    width:100%;
    height:30px;
    border: solid 1px gray;
    align-items: center;
    justify-content: center;
}

#ochiai_add, #ochiai_delete, #ochiai_inherit, #bass_add, #bass_delete, #bass_inherit,#matsunaka_add, #matsunaka_delete, #matsunaka_inherit, #murakami_add, #murakami_delete, #murakami_inherit{
    width: 23%;
    height: 25px;
    }