#wrapper{
    display: flex;
    width:100%;
    height:120px;
    border: solid 1px gray;
    align-items: center;
    justify-content: center;
}

#ochiai{
    width: 23%;
    height: 100px;
    left: 3%;
    top: 0px;
    color: aliceblue;
    text-align: center;
    background-color: aquamarine;
    opacity: 100%;
    border: solid 1px white;
    background-image:url("../img/backgroud.jpg");
    background-size: cover;
    
}

#bass{
    width: 23%;
    height: 100px;
    left: 27%;
    top: 0px;
    color: aliceblue;
    text-align: center;
    background-color: aquamarine;
    opacity: 100%;
    line-height: 20px;    
    border: solid 1px white;    
    background-image:url("../img/backgroud.jpg");
    background-size: cover;
}

#matsunaka{
    width: 23%;
    height: 100px;
    left: 51%;
    top: 0px;
    color: aliceblue;
    text-align: center;
    background-color: aquamarine;
    opacity: 100%;    
    border: solid 1px white;    
    background-image:url("../img/backgroud.jpg");
    background-size: cover;
}

#murakami{
    width: 23%;
    height: 100px;
    left: 75%;
    top: 0px;
    color: aliceblue;
    text-align: center;
    background-color: aquamarine;
    opacity: 100%;
    border: solid 1px white;    
    background-image:url("../img/backgroud.jpg");
    background-size: cover;
}

#ochiai:hover{
    background-color: rgb(31, 8, 123);
    opacity: 70%;
}

#bass:hover{
    background-color: rgb(31, 8, 123);
    opacity: 70%;
}

#matsunaka:hover{
    background-color: rgb(31, 8, 123);
    opacity: 70%;
}

#murakami:hover{
    background-color: rgb(31, 8, 123);
    opacity: 70%;
}

#result,#stop-game,#status,#total,#max,#history{
    text-align: center;
    font-size: large;
}

#wrapper_nine{
    display: flex;
    width:100%;
    height:120px;
    border: solid 1px gray;
    align-items: center;
    justify-content: center;
}

#ochiai_nine{
    width: 23%;
    height: 100px;
    left: 3%;
    top: 0px;
    color: aliceblue;
    text-align: center;
    background-color: aquamarine;
    opacity: 100%;
    border: solid 1px white;
    
    background-image:url("../img/backgroud.jpg");
    background-size: cover;
    
}

#bass_nine{
    width: 23%;
    height: 100px;
    left: 27%;
    top: 0px;
    color: aliceblue;
    text-align: center;
    background-color: aquamarine;
    opacity: 100%;
    line-height: 20px;    
    border: solid 1px white;  
    
    background-image:url("../img/backgroud.jpg");
    background-size: cover;
}

#matsunaka_nine{
    width: 23%;
    height: 100px;
    left: 51%;
    top: 0px;
    color: aliceblue;
    text-align: center;
    background-color: aquamarine;
    opacity: 100%;    
    border: solid 1px white; 
    
    background-image:url("../img/backgroud.jpg");
    background-size: cover;
}

#murakami_nine{
    width: 23%;
    height: 100px;
    left: 75%;
    top: 0px;
    color: aliceblue;
    text-align: center;
    background-color: aquamarine;
    opacity: 100%;
    border: solid 1px white;   
    
    background-image:url("../img/backgroud.jpg");
    background-size: cover; 
}


#wrapper_hundred{
    display: flex;
    width:100%;
    height:120px;
    border: solid 1px gray;
    align-items: center;
    justify-content: center;
}

#ochiai_hundred{
    width: 23%;
    height: 100px;
    left: 3%;
    top: 0px;
    color: aliceblue;
    text-align: center;
    background-color: aquamarine;
    opacity: 100%;
    border: solid 1px white;
    
    background-image:url("../img/backgroud.jpg");
    background-size: cover;
    
}

#bass_hundred{
    width: 23%;
    height: 100px;
    left: 27%;
    top: 0px;
    color: aliceblue;
    text-align: center;
    background-color: aquamarine;
    opacity: 100%;
    line-height: 20px;    
    border: solid 1px white; 
    
    background-image:url("../img/backgroud.jpg");
    background-size: cover; 
}

#matsunaka_hundred{
    width: 23%;
    height: 100px;
    left: 51%;
    top: 0px;
    color: aliceblue;
    text-align: center;
    background-color: aquamarine;
    opacity: 100%;    
    border: solid 1px white; 
    
    background-image:url("../img/backgroud.jpg");
    background-size: cover;
}

#murakami_hundred{
    width: 23%;
    height: 100px;
    left: 75%;
    top: 0px;
    color: aliceblue;
    text-align: center;
    background-color: aquamarine;
    opacity: 100%;
    border: solid 1px white; 
    
    background-image:url("../img/backgroud.jpg");
    background-size: cover;   
}
